extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let catid = toShow._id
    - let cat_color = toShow.cat_color
    - let cat_breed = toShow.cat_breed
    - let cat_price = toShow.cat_price
    - let actionid = "/resource/cat/" + catid
    script let actionid = "#{actionid}"
    div
     div.row 
      div(class='catAttr mr-3') cat ID is:
      div #{catid}
     div.row
      div(class='catAttr mr-3') cat color is:
      div #{cat_color}
     div.row
      div(class='catAttr mr-3') cat breed is:
      div #{cat_breed}
     div.row
      div(class='catAttr mr-3') cat Price is:
      div #{cat_price}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
   function cancel() {
    window.location.href='/cat'
    }
  script.
    function deleteOnid() {
     console.log("starting delete")
     fetch(actionid, {
      method: 'DELETE'
     }).then((resp) => {
        return resp.json();
     }).then((body) => {
        alert("Delete succeded")
        window.location.href='/cat'
     }).catch((error) => {
        alert("Delete failed " + error )
     });
    }